{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить дело</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<script src="https://kit.fontawesome.com/ecc4cdeb83.js" crossorigin="anonymous"></script>
<body>
    <div class="features">
        <div class="alert alert-warning">
            <form method="post">
                {% csrf_token %}<br>
                {{ form.title }}<br>
                {{ form.description }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Добавить запись</button>
            </form>
        </div>
    </div>
</body>
</html>